<template name="contacts_create">
	
	<div class="mask"> </div>
	<div class="modal" data-backdrop="true">
		<div class="modal-header">
			<button id="close" type="button" class="close cancel">&times;</button>
			<h3>New Contact</h3>
		</div>
		
		<div class="modal-body">
			{{#if error}}
			<div class="alert alert-error">{{error}}</div>
			{{/if}}
			
			<form id="create_contact" class="container-fluid">

				<legend>General Info</legend>

				<fieldset>	
					
					<div class="row-fluid controls controls-row">
						<select id="contact_customer_id" class="span12">
							{{#each customers}}
							<option value="{{_id}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
					
					<div class="row-fluid controls controls-row">
						<input type="text" id="contact_first_name" placeholder="First Name" value="{{record.first_name}}" class="span6">
						<input type="text" id="contact_last_name" placeholder="Last Name" value="{{record.last_name}}" class="span6">
					</div>
					
					<div class="row-fluid controls controls-row">
						<input type="text" id="contact_phone" placeholder="Phone" value="{{record.phone}}" class="span6">
						<input type="text" id="contact_email" placeholder="Email" value="{{record.email}}" class="span6">
					</div>
					
				</fieldset>

			</form>
			
		</div>
		
		<div class="modal-footer">
			<a id="cancel" class="btn cancel">Cancel</a>
			<a id="save_contact" class="btn btn-primary save">Create Contact</a>
		</div>
	</div>
	
</template>