<template name="contacts_show">
	{{#if record}}

	<div class="mask"> </div>
	<div class="modal">
		<div class="modal-header">
			<button id="close" type="button" class="close cancel">&times;</button>
			<h3>View {{record.first_name}}</h3>
		</div>
		
		<div class="modal-body">
			{{record.prototype}}
			{{record.fullName}}<br/>
			{{record.email}}
			
		</div>
		<div class="modal-footer">
			<a id="cancel" class="btn cancel">Cancel</a>
			<a id="edit_contact" class="btn btn-primary save">Edit Contact</a>
		</div>
	</div>
	{{/if}}
	
</template>